services:
  ollama:
    container_name: ollama
    image: ollama/ollama:latest
    ports:
      - "11434:11434"
    entrypoint: ["/bin/bash", "-c", "\
      ollama serve & \
      sleep 2 && \
      ollama pull smollm:135m && \
      wait"]
    deploy:
      replicas: 1
      restart_policy:
        condition: any
    healthcheck:
      test: ["CMD-SHELL", "curl -sf http://localhost:11434/api/tags"]
      interval: 5s
      timeout: 3s
      retries: 20
      start_period: 10s
  postgres:
    container_name: postgres
    image: postgres:16
    environment:
      POSTGRES_USER: alphatrion
      POSTGRES_PASSWORD: alphatr1on
      POSTGRES_DB: alphatrion
    ports:
      - "5432:5432"
    # volumes:
    #   - pg_data:/var/lib/postgresql/data
    deploy:
      replicas: 1
      restart_policy:
        condition: any
  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: alphatrion@inftyai.com
      PGADMIN_DEFAULT_PASSWORD: alphatr1on
    ports:
      - 8081:80
    depends_on:
      - postgres
  registry-ui:
    image: joxit/docker-registry-ui:main
    restart: always
    ports:
      - 80:80
    environment:
      - SINGLE_REGISTRY=true
      - REGISTRY_TITLE=Docker Registry UI
      - DELETE_IMAGES=true
      - SHOW_CONTENT_DIGEST=true
      - NGINX_PROXY_PASS_URL=http://registry:5000
      - SHOW_CATALOG_NB_TAGS=true
      - CATALOG_MIN_BRANCHES=1
      - CATALOG_MAX_BRANCHES=1
      - TAGLIST_PAGE_SIZE=100
      - REGISTRY_SECURED=false
      - CATALOG_ELEMENTS_LIMIT=1000
    container_name: registry-ui
  registry:
    container_name: registry
    image: registry:3
    ports:
      - "5001:5000"
#     volumes:
#       - oras-data:/data
# volumes:
#   pg_data:
#   oras-data:
